html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
header {
  height:65px;
  width:100%;
  color:white;
  background-color:rgba(34, 49, 52, 0.9);;
  position:fixed;
  top:0;
  z-index: 10;
}

.header-left {
  float:left;
}

.header-right {
  float:right;
  background-color:rgba(255, 255, 255, 0.3);
}

.header-right a:hover {
  background-color:rgba(255, 255, 255, 0.3);
}

.logo {
  width:140px;
  margin-top:20px;
}

.login {
  line-height:65px;
  color:white;
  padding:0 25px;
  display:block;
  transition:all 1s;
}

.container {
  width:1170px;
  margin:0 auto;
 
}

.container h1 {
  font-size:50px;
   opacity:0.7;
}

.top-wrapper p {
  margin-bottom:15px;
   opacity:0.7;
}

.top-wrapper {
  padding:180px 0 100px 0;
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
  color:white;
  text-align:center;
  
}

.btn-wrapper a{
  padding:8px 25px;
  
  color:white;
  display:inline-block;
  border-radius:4px;
  opacity:0.8;
}

.btn-wrapper a:hover {
  opacity:1;
}

.btn-wrapper p {
  margin-bottom:20px;
}

.signup {
  margin-bottom:15px;
  background-color:#239b76;
}

.twitter {
  background-color:#55acee;
}

.facebook {
  margin-right:10px;
  background-color:#3b5998;
}

.heading {
  
  padding:80px 0 50px 0;
}

.heading h2 {
  color:#5f5d60;
  font-weight:normal;
}

.lesson-wrapper {
  height:580px;
  text-align:center;
  background-color:#f7f7f7;
}

.lesson-icon {
  position:relative;
}

.lesson-icon p {
  width:100%;
  position:absolute;
  top:90px;
  color:white;
  
}

.lesson {
  float:left;
  width:25%;
}

.lesson-icon p {
  opacity:1;
}

.text-contents {
  color:#b3aeb5;
  display:inline-block;
  width:80%;
  margin-top:15px;
  font-size:13px;
}

.message-wrapper {
  padding-bottom:80px;
  text-align:center;
}

.heading h3 {
  font-weight:normal;
}

.message {
    color: white;
    background-color:#5dca88;
    padding:15px 40px;
    display: inline-block;
    border-radius: 4px;
    opacity: 0.8;
    box-shadow:0 7px #1a7940;
}

.message:hover {
  opacity:1;
}

.message:active {
  position:relative;
  top:6px;
  box-shadow:none;
}

footer {
  padding:30px 0;
  border-top:1px solid #eee;
}

footer img {
  width:124px;
}

footer p {
  color:#b3aeb5;
  font-size:12px;
}
